<h1 class='aa'>Listing properties</h1>
<%= paginate @properties %>
<table>
  <tr>
    <th>Code</th>
    <th>Type</th>
    <th>Title</th>
    <th>Description</th>
    <th>Dimensions</th>
    <th>Price</th>
  </tr>
<% @properties.each do |property| %>
  <tr>
    <td><%= property.code %></td>
    <td><%= property.type %></td>
    <td><%= property.title %></td>
    <td><%= property.description %></td>
    <td><%= property.dimensions %></td>
    <td><%= property.price %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_independent_house_path  %>
