<%= link_to 'Sell Property', new_independent_house_path  %>

<h1>Listing properties</h1>
<div class='property-list'>
<%= paginate @properties %>
<% @properties.each do |property| %>
  <div class='property-details clr'>
    <div class='title'><%= property.title %></div>
    <div class='p-image'>
      <%= image_tag property.image.image.url(:thumb) %>
    </div>
    <div class='p-detail'>
      <div class='desc row'>
        <div class='small-12 columns'><%= property.description %></div>
      </div>
      <div>
        <span class='sf'>Built-up Area</span>
        <span><%= property.dimensions %></span>
      </div>
      <div>
        <span class='sf'>Price</span>
        <span><%= property.price %></span>
      </div>
    </div>
  </div>
  <div class='clr'></div>
<% end %>
</div>
