<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "PropertyAds.in" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= stylesheet_link_tag "bjqs" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='page'>
		  <div class='header'>
		    <div class='top-links'>
		      <div class='logo'><%= link_to(image_tag('logo.png', :alt => 'Propertyads.in'), pages_home_path) %></div>
		      <div class='links'>
		        <span><%= link_to 'About Us', pages_about_us_path %></span>
		        <span><%= link_to 'Contact Us', pages_contact_us_path %></span>
		        <span><%= link_to 'Sign Up', new_user_registration_path %></span>
		        <span class='sign-in'>
			        <% if user_signed_in? %>
			          <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
			        <% else %>
			          <%= link_to 'Sign In', new_user_session_path %>
			        <% end %>
			      </span>
		      </div>
			  </div>
			  <div class='nav-menu'>
				  <nav class="top-bar">
					  <ul class="title-area">
					    <li class="name"></li>
					  </ul>
					  <section class="top-bar-section">
					    <ul class="left">
					 <!--      <li class="divider"></li>
					      <li class="has-dropdown"><a href="#">Residential</a>
					        <ul>
					          <li><a href="#">Independent House</a></li>
					          <li><a href="#">Flats</a></li>
					          <li><a href="#">Villas</a></li>
					          <li><a href="#">Plots</a></li>
					        </ul>
					      </li>
					      <li class="divider"></li>
					      <li class="has-dropdown"><a href="#">Commercial</a>
									<ul>
										<li><a href="#">Show Rooms</a></li>
										<li><a href="#">Office Spaces</a></li>
										<li><a href="#">Resturants</a></li>
										<li><a href="#">Industrial Lands</a></li>
										<li><a href="#">Agricultural Lands</a></li>
										<li><a href="#">Service Apartments</a></li>
									</ul>
					      </li>
					      <li class="divider"></li> -->
					      <li class="divider"></li>
					      <li><%= link_to 'Home', pages_home_path %></li>
					      <li class="divider"></li>
					      <li class><a href="#">Apartments</a></li>
					      <li class="divider"></li>
					      <li><%= link_to 'Houses', independent_houses_path %></li>
					      <li class="divider"></li>
					      <li><%= link_to 'Villas', villas_path %></li>
					      <li class="divider"></li>
					      <li><%= link_to 'Plots', plots_path %></li>
					      <li class="divider"></li>
					      <li><a href="#">Office Space</a></li>
					      <li class="divider"></li>
					      <li><a href="#">Show rooms</a></li>
					      <li class="divider"></li>
					      <li><a href="#">Hotel</a></li>
					      <li class="divider"></li>
					      <li><a href="#">Industrial Land</a></li>
					      <li class="divider"></li>
					      <li><a href="#">Agricultural Land</a></li>
					      <li class="divider"></li>
					      <li><a href="#">Resort / Service Apartments</a></li>
					    </ul>
				    </section>
				  </nav>
				</div>
		  </div>
	    <%= yield %>
	  </div>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bjqs.min" %>
  </body>
</html>
